.App {
  width: 100vw;
  height: 100vh;
  background: url(../public/walp.jpg);
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: flex;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
.joinChatContainer {
  margin: 0 auto;
  margin-top: -10em;
  width: 35%;
  height: 45%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  background-color: #dfcfcf;
  border-radius: 1em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.joinChatContainer h1 {
  width: 50%;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 0.4em;
  height: 25px;
  background: #0d6b9a;
  position: relative;
  padding: 0.6em;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  font-size: 1.5em;
  color: #fff;
  font-weight: 700;
}
.joinChatContainer input {
  height: 40px;
  margin: 8px;
  border: 2px solid #43a047;
  border-radius: 10px;
  padding: 0.5em;
  font-size: 1em;
}

.joinChatContainer button {
  width: 40%;
  height: 50px;
  margin: 0 auto;
  margin-top: 0.2em;
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  font-size: 1.5em;
  background: #43a047;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  margin: 0 auto;
  width: 50%;
  height: 75%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  background-color: #dfcfcf;
  border-radius: 2em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.chat-window .chat-header {
  border-radius: 0.8em;
  height: 45px;
  background: #0d6b9a;
  position: relative;
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.chat-window .chat-header h1 {
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}
.chat-window .chat-header .chat-icon
{
  color: rgb(243, 249, 248);
  position: absolute;
  left: 8em;
  top: 0.4em;
}

.chat-window .chat-body {
  padding: 0.6em;
  height: 75%;
  border: none;
  border-radius: 0.8em;
  background: #fff;
  position: relative;
  box-shadow: 2px 2px 5px rgba(65, 63, 63, 0.8);
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 100%;
  background-color: #43a047;
  border-radius: 0.8em;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 0.1em;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: center;
}

#you .message-meta {
  margin-top: -0.5em;
  justify-content: flex-start;
  color: rgb(18, 38, 151);
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: center;
  background-color: rgb(29, 92, 207);
}

#other .message-meta {
  margin-top: -0.5em;
  justify-content: flex-end;
  color: rgb(1, 1, 1);
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 13px;
}

.chat-window .chat-footer {
  padding: 0.6em;
  border: none;
  border-radius: 0.8em;
  background: #fff;
  position: relative;
  box-shadow: 2px 2px 5px rgba(65, 63, 63, 0.8);
  height: 26px;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #010101;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: none;
  display: flex;
  flex: 8%;
  place-items: center;
  cursor: pointer;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 30px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
